@charset 'UTF-8';

@use 'sass:map';

$COLOR: (
  purple: #4219a2,
  dark-purple: #352756,
  red: #dc3c3c,
  white: #fff,
  black: #000
);

$C_BACKGROUND: map.get($COLOR, white);
$C_BORDER: map.get($COLOR, dark-purple);
$C_LINK: map.get($COLOR, purple);

$SIZE_PC: 768px;

$SHADOW: 0 2px 4px rgba(map.get($COLOR, black), 0.1);
