@use '@/assets/scss/common.scss';
@use 'sass:map';

.button {
  &.--flip {
    > a,
    > button {
      background: #fff;
      color: map.get(common.$COLOR, dark-purple);
    }
  }
  > a,
  > button {
    background: map.get(common.$COLOR, dark-purple);
    border: solid 1px map.get(common.$COLOR, dark-purple);
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 0 16px;
    outline: 0;

    > span {
      display: inline-block;
      padding: 8px 0;
    }
  }
}
