@use '@/assets/scss/common.scss';

.index {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  font-size: 1.4rem;

  &__item {
    position: relative;
    padding: 0 8px;

    &::before {
      content: '';
      display: block;
      width: 0;
      padding-top: 100%;
    }

    @include common.mq-max(common.$SIZE_PC - 1px) {
      width: 50%;

      &:nth-child(n+3) {
        margin-top: 16px;
      }
    }

    @include common.mq-min(common.$SIZE_PC) {
      width: 20%;

      &:nth-child(n+6) {
        margin-top: 16px;
      }
    }
  }

  &__link {
    position: absolute;
    top: 0;
    right: 8px;
    bottom: 0;
    left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 4px rgba(#000, $alpha: 0.1);
    transition: color 0.2s, box-shadow 0.2s;

    @include common.rollover {
      color: common.$C_LINK;
      box-shadow: 0 2px 6px rgba(#000, $alpha: 0.2);
    }
  }

  &__icon {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: calc(50% - 0.625em);
  }

  &__text {
    position: relative;
    display: block;
    padding-top: 40px;
  }
}
